
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,100' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
    <script src="https://data.nbcstations.com/js/crosstalk.js"></script>
    <script type="text/javascript">
         document.addEventListener("DOMContentLoaded", function() {
            xtalk.responsive = false;
            xtalk.init();
         });
    </script>
    <title><%= htmlWebpackPlugin.options.title %></title>

  </head>

  <body>
    <style>
    

    </style>
    <!-- Start content here -->
    <div id="xtalk" class="parent" style="width:100%; padding-botom:35px; overflow:auto">
      <div class="blurb">
        <p>Some argue that Super Bowl commercials garner more attention than the game itself. With so many iconic ads that have aired during the big game, we want to know which one is your favorite. We culled through hundreds of commercials to get to the 16 below. The first round of voting ends Monday, Jan. 22, the second round ends on Jan. 25, third round on Jan. 29, and the winner will be revealed on Feb. 1. Vote now for your favorite!</p>
      </div>
      <div id="container">

      </div>
      <div id="polls">

      </div>
    </div>
    

  </body>
</html>
